@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


*{
    padding: 0;
    margin: 0;
} 

.fuente {
  font-family: "Barriecito", system-ui;
  font-weight: 300;
  font-style: normal;
}


main{
    background-color: aqua;
    padding: 10px 5px
}